@import 'variables';

html, body {
  height: 100%;
  margin: 0;
}

.flexContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contentContainer {
  flex: 1 1 0px;
}

.reperio-bar {
  width:100%;
  height:55px;
}

.reperio-bar-container {
  display: flex;
  flex: 0 0 55px;
}

.page-container {
  display: flex;
  flex: 1 0 0px;
}

.r-nav-menu {
  background-color: $nav-menu-background;
  width: 200px;
  float: left;
  z-index: 5;

  .r-menu-header {
    border-bottom: 2px solid $nav-menu-border;
    padding-bottom: 10px;
    padding-top: 5px;

    .r-menu-header-text {
      text-align: left;
      margin-top: auto;
      margin-bottom: auto;

      span {
        font-weight: bold;
        font-size: 1.5em;
        color: $primary-color;
      }
    }

    .r-menu-header-icon {
      width: 18%;
      float: left;
      margin-top: 10px;
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  .r-menu-item {
    font-size: 1em;
    color: $primary-color;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    width: 100%;

    &.r-menu-item-active {
      background-color: #fff;
    }
  }
}

.-pagination {
  height: 40px;
}

.vm-actions {
  margin:5px;
}

.field-array-component-item-label {
  font-weight: bold;
  margin-bottom: 25px;
}

.modal-window {
  min-height: 235px;
}

.nested-button-toolbar {
  padding-left: 5px;
}

.field-array-component {
  padding: 10px;
  border-width: 1px;
  border-color: #e6e6e6;
  border-style: solid;
  background-color: $field-array-component-background;
  margin-bottom: 10px;
}

.field-array-component-delete-button {
  position: absolute;
  top: 10px;
  right: 10px
}

.redux-form {
  max-width: 280px;
}