html, body {
  height: 100%;
  margin: 0;
}

body {
  /* IE10+ */
  background-image: -ms-linear-gradient(top, #EBEBEB 0%, #999999 100%);

  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #EBEBEB 0%, #999999 100%);

  /* Opera */
  background-image: -o-linear-gradient(top, #EBEBEB 0%, #999999 100%);

  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EBEBEB), color-stop(100, #999999));

  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #EBEBEB 0%, #999999 100%);

  /* W3C Markup */
  background-image: linear-gradient(to bottom, #EBEBEB 0%, #999999 100%);

  font-family: "Helvetica Neue";
  font-size: 14px;
}

.navbar {
  /* IE10+ */
  background-image: -ms-linear-gradient(top, #227EA8 0%, #155080 100%);

  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #227EA8 0%, #155080 100%);

  /* Opera */
  background-image: -o-linear-gradient(top, #227EA8 0%, #155080 100%);

  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #227EA8), color-stop(100, #155080));

  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #227EA8 0%, #155080 100%);

  /* W3C Markup */
  background-image: linear-gradient(to bottom, #227EA8 0%, #155080 100%);
}

.navbar {
  margin-bottom: 0px;

  & > .container {
    width: auto;
  }

  & .navbar-nav > li {
    & > a:hover,
    & > a:focus,
    &.active > a,
    &.active > a:hover,
    &.active > a:focus,
    &.open > a,
    &.open > a:hover,
    &.open > a:focus {
      background-color: #007bad;
      color: white;
    }

    & > a {
      color: white;
    }
  }
}
