$secondary-color: #c7d8e8;

$nav-menu-background: #F0F0F0;
$nav-menu-border: #95989A;

$field-array-component-background: rgb(248,248,248);
$table-row-odd: rgb(223, 235, 246);

$black-label: rgb(0, 0, 0);

$reperio-red: rgb(173, 52, 50);
$reperio-dark-red: rgb(137, 42, 40);
$reperio-blue: rgb(66, 133, 195);
$reperio-dark-blue: rgb(58, 115, 168);
$reperio-disabled-blue: rgb(188, 224, 253);
$reperio-teal: rgb(42, 191, 200);
$reperio-dark-teal: rgb(36, 159, 167);
$reperio-charcoal: rgb(98, 98, 98);
$reperio-dark-charcoal: rgb(75, 75, 75);
$reperio-placeholder-gray: rgb(197, 197, 197);

$reperio-content-background: rgb(247, 247, 247);
$reperio-navbar-background: rgb(227, 227, 227);