$primary-color: #4285C3;
$secondary-color: #c7d8e8;

$nav-menu-background: #F0F0F0;
$nav-menu-border: #95989A;

$field-array-component-background: rgb(248,248,248);
$primary-color: #4285C3;
$table-row-odd: rgb(223, 235, 246);

$black-label: rgb(0, 0, 0);

$reperio-red: rgb(173, 52, 50);
$reperio-content-background: rgb(247, 247, 247);
$reperio-navbar-background: rgb(227, 227, 227);
$reperio-footer-background: rgb(98, 98, 98);